.intro{
    max-width: 984px;
    margin-top: 0;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
 }

 @media screen and (max-width: 1024px){

    .intro{
        max-width: calc(100% - 48px * 2);
    }
    
 }
 
 @media screen and (max-width: 768px){

    .intro{
        max-width: calc(100% - 24px * 2);
        margin-bottom: 88px;
    }
    
 }
 @media screen and (max-width: 425px){

    .intro{
        max-width: calc(100% - 16px * 2);
        margin-bottom: 64px;
    }
    
 }